<!DOCTYPE html>
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>
    <!-- END: Head -->
    <body class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent">
        <!-- BEGIN: Mobile Menu -->
        <%= render 'layouts/menu_mobile' %>
        <!-- END: Mobile Menu -->
        <div class="flex overflow-hidden">
            <!-- BEGIN: Side Menu -->
            <%= render 'layouts/side_menu' %>
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="content">
                <!-- BEGIN: Top Bar -->
                <%= render 'layouts/top_bar' %>
                <!-- END: Top Bar -->
                <%= yield %>
            </div>
            <!-- END: Content -->
        </div>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    
        <%= javascript_importmap_tags %>
    </body>
</html>