<!DOCTYPE html>
<!--
Template Name: Tinker - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="light">
    <!-- BEGIN: Head -->
     <head>
        <meta charset="utf-8">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>
    <!-- END: Head -->
    <body class="login">
      <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <%= yield %>
        </div>
      </div>
     
        
        <!-- BEGIN: JS Assets-->
        <%= javascript_importmap_tags %>
        <!-- END: JS Assets-->
    </body>
</html>