<h2 class="intro-y text-lg font-medium mt-10">
  <%= Post.model_name.human.pluralize %>
</h2>
<%#= turbo_frame_tag :turbo_modal %>
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-nowrap items-center mt-2">
        <%= link_to t('helpers.links.new'), new_post_path, data: { turbo_frame: 'turbo_modal', action: "click->app#launchModal" }, class: 'btn btn-primary shadow-md mr-2' %>
        <div class="dropdown">
            <button class="dropdown-toggle btn px-2 box" aria-expanded="false" data-tw-toggle="dropdown">
                <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-lucide="plus"></i> </span>
            </button>
            <div class="dropdown-menu w-40">
                <ul class="dropdown-content">
                    <li>
                        <a href="" class="dropdown-item"> <i data-lucide="printer" class="w-4 h-4 mr-2"></i> Print </a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to Excel </a>
                    </li>
                    <li>
                        <a href="" class="dropdown-item"> <i data-lucide="file-text" class="w-4 h-4 mr-2"></i> Export to PDF </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hidden md:block mx-auto text-slate-500">
        <%= t('views.pagination.counters', size: @posts.size, entries: @posts.total_count) %>
        </div>
        <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0">
            <!-- BEGIN: Ransack Filters -->
            <div class="intro-y flex flex-col-reverse sm:flex-row items-center">
                <div class="w-full sm:w-auto relative mr-auto mt-3 sm:mt-0">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-slate-500" data-lucide="search"></i> 
                    <input type="text" class="form-control w-full sm:w-64 box px-10" placeholder="Search files">
                    <div class="inbox-filter dropdown absolute inset-y-0 mr-3 right-0 flex items-center" data-tw-placement="bottom-start">
                        <i class="dropdown-toggle w-4 h-4 cursor-pointer text-slate-500" role="button" aria-expanded="false" data-tw-toggle="dropdown" data-lucide="chevron-down"></i> 
                        <div class="inbox-filter__dropdown-menu dropdown-menu pt-2">
                            <div class="dropdown-content">
                                <%= search_form_for @q do |f| %>
                                    <div class="grid grid-cols-12 gap-4 gap-y-3 p-3">
                                        <div class="col-span-6">
                                            <%= f.label :primeiro, class: "form-label text-xs" %>
                                            <%= f.search_field :primeiro_cont, class: 'form-control flex-1', placeholder:"Primeiro" %>
                                        </div>
                                        <div class="col-span-6">
                                            <%= f.label :segundo, class: "form-label text-xs" %>
                                            <%= f.search_field :segundo_cont, class: 'form-control flex-1', placeholder:"Segundo" %>
                                        </div>
                                        <div class="col-span-12 flex items-center mt-3">
                                            <%= link_to t('helpers.links.clear'), posts_path, class: 'btn btn-secondary w-32 ml-auto' %>
                                            <%= f.submit t('helpers.links.search'), class: "btn btn-primary w-32 ml-2", data: {tooltip: t('ransack.search'), inverted: ''} %>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: Ransack Filters -->
        </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-nowrap"><%= sort_link(@q, :primeiro, Post.human_attribute_name(:primeiro)) %></th>
                    <th class="whitespace-nowrap"><%= sort_link(@q, :segundo, Post.human_attribute_name(:segundo)) %></th>
                    <th class="text-center whitespace-nowrap"><%= t('helpers.actions') %></th>
                </tr>
            </thead>
            <tbody id='posts'>
              <%= render partial: 'posts/tr_post', collection: @posts, as: :post %>
            </tbody>
        </table>
    </div>
    <!-- END: Data List -->
    <!-- BEGIN: Kaminari -->
    <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
        <%= paginate @posts %>
    </div>
    <!-- END: Kaminari -->
</div>

<!-- BEGIN: New post Modal -->
<%= render(ModalComponent.new(header: 'New Post', body: turbo_frame_tag(:turbo_modal, target: "_top"))) %>
<!-- END: New Post Modal -->